1, In the below elements which of them are values or expression?-expression

*      -expression
"hello"-value
-87.8  -values
-       expression
/      -expression
+      -expression
6      -Values

2,what is difference betwwen string and variables?
 
 strings-are type of data  where as 
 variables- are parameter/symbols which are used to store data

3. Describe three different datatypes
string
ineger
float
bool


4.What is an expression made up of? what do all expression do
 An expression made up of a combination of operators and operands to give some other values eg.Arithmetic Expressions
 (X+Y=Z addition operation),Logical Expression(eg:X OR Y)

5. What is the difference between expression and statement?
expression-is a combination of operators and operands to get another value where as a statement is the instructions to execute a programm
for example declaration statement spam=10, control statements(continue statement,break statement,pass statement)

6.variable bacon  contain value 23 after executing the following programme.

In [1]:
bacon=22
bacon+1

23

7.

In [4]:
"spam"+"spamspam"

'spamspamspam'

In [5]:
"spam"*3

'spamspamspam'

8. Why Eggs is a valied variable name whereas 100 is invalid?
According to python variable naming rule it should start with a charachter or _,cannot start with a number
Therefore, Egg is valid but 100 is invalid

9.What 3 functions can be used to get integer,floating number,string
to get ineger- int()
to get floating number- float()
to get string-str()

10. why does this expression cause an error?how to fix it

In [6]:
"I Have eaten"+99+"burritos"

TypeError: can only concatenate str (not "int") to str

reason:Here we are concatenating 2 different datatypes 99 is an int datatype other two are str data type. to make 99 to str by keeping 99 inside "".

In [7]:
"I Have eaten"+"99"+"burritos"

'I Have eaten99burritos'